body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0px;
    color: #fbb406;
    font-family: 'Neonderthaw', cursive;
    font-size: 140px;
    text-align: center;
}

h2 {
    margin: 0px;
    color: #fbb406;
    font-family: 'Neonderthaw', cursive;
    font-size: 80px;
    text-align: center;
}

u {
    text-decoration-color: #fbb406;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fbb406, 0 0 40px #fbb406, 0 0 50px #fbb406, 0 0 60px #fbb406, 0 0 70px #fbb406;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fbda93, 0 0 40px #fbda93, 0 0 50px #fbda93, 0 0 60px #fbda93, 0 0 70px #fbda93, 0 0 80px #fbda93;
    }
  }

.title-block {
    background-image: url("../images/3506328.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1800px;
    height: 700px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-p {
    color: #747c7c;
    font-family: 'Oooh Baby', cursive;
    font-weight: bold;
    font-size: 44px;
}

.about-block {
    max-width: 1800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    height: 150px;
    -moz-box-shadow: 0px 6px 5px #bfbfbf;
    -webkit-box-shadow: 0px 6px 5px #bfbfbf;
    box-shadow: 0px 6px 5px #bfbfbf;
    -moz-border-radius:150px;
    -webkit-border-radius:150px;
    border-radius:150px;
}

.about-text {
    width: 70%;
}

.skills-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.skills-block {
    max-width: 1800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
    background-color: #f3f2f3;
}

.skills-list, .skills-gif {
    display: inline-block;
    width: 45%;
    display: flex;
    align-items: center;
}

.profile-gif {
    border-radius: 20px;
    height: 250px;
    margin: auto;
}

/* Media for Mobile devices */
@media only screen and (max-width: 480px) {
    .skills-container {
        width: 70%;
        display:flex;
        flex-direction: column-reverse;
    }

    .skills-list, .skills-gif {
        width:100%;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .skills-container {
        width: 70%;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .skills-list, .skills-gif {
        width:50%;
    }
}
